.field-black{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: burlywood;
}

.field-white{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: antiquewhite;

}

.field-black-active{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: yellowgreen;
}

.field-black-active:hover{
    -fx-background-color: lawngreen;
}

.field-white-active{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: greenyellow;
}

.field-white-active:hover{
    -fx-background-color: chartreuse;
}

.field-white-checked{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: indianred;
}

.field-black-checked{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: firebrick;
}

.notation-strip{
    -fx-font-weight: bolder;
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: burlywood;
    -fx-font-size: 13;
}
