#mainGrid{
    -fx-background-color: gray;
}

.regular-button{
    -fx-background-color: dimgray;
    -fx-border-color: burlywood;
    -fx-font-weight: bolder;
    -fx-text-fill: white;
}

.regular-button:hover{
    -fx-border-width: 2;
    -fx-background-color: #698069;
}

.color-button{
    -fx-background-color: transparent;
    -fx-font-weight: bolder;
    -fx-text-fill: ghostwhite;
}

.color-button:hover{
    -fx-background-color: #698069;
    -fx-background-radius: 40;
}

.label{
    -fx-text-fill: ghostwhite;
    -fx-font-weight: bolder;
}

.error-label{
    -fx-text-fill: firebrick;
}

.scroll-pane{
}