.combo-box{
    -fx-background-color: transparent;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-border-color: burlywood;
    -fx-font-weight: bolder;
}

.color-button-selected{
    -fx-border-width: 2;
    -fx-border-radius: 40;
    -fx-border-color: burlywood;
    -fx-background-color: transparent;
}
