.won-label{
    -fx-text-fill: yellowgreen;
    -fx-font-weight: bolder;
}

.lost-label{
    -fx-text-fill: firebrick;
    -fx-font-weight: bolder;
}

.draw-label{
    -fx-text-fill: #698069;
    -fx-font-weight: bolder;
}