#textPane{
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-border-color: dimgray;
}

.black-move-label{
    -fx-background-color: dimgray;
    -fx-background-radius: 5;
    -fx-text-fill: lightgray;
    -fx-font-size: 13;
    -fx-font-style: italic;
    -fx-font-weight: lighter;
}

.white-move-label{
    -fx-background-color: lightgray;
    -fx-background-radius: 5;
    -fx-text-fill: dimgray;
    -fx-font-size: 13;
    -fx-font-style: italic;
    -fx-font-weight: lighter;
}


.move-label{
    -fx-background-color: darkgray;
    -fx-background-radius: 5;
    -fx-text-fill: firebrick;
    -fx-font-size: 13;
    -fx-font-style: italic;
    -fx-font-weight: lighter;
}

.clocks-label{
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.little-time-clocks-label{
    -fx-font-weight: bold;
    -fx-text-fill: red;
    -fx-font-size: 20;
}

.save-button{
    -fx-background-color: dimgray;
    -fx-font-weight: bolder;
    -fx-text-fill: white;
}

.save-button:hover{
    -fx-background-color: #698069;
}