
.game-select-button{
    -fx-border-color: burlywood;
    -fx-border-width: 1;
    -fx-background-color: dimgray;
}

.game-select-button:hover{
    -fx-border-width: 2;
    -fx-background-color: #698069;
}